@model AdminViewModel
@{
    ViewData["Title"] = "AdminList";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var SuperAdministrateurs = (List<AdminViewModel>)ViewBag.SuperAdministrateurs;
    var Administrateurs = (List<AdminViewModel>)ViewBag.Administrateurs;
}

<h2>Liste des Super Administrateurs</h2>

<p>
    <a asp-action="Register" asp-route-returnUrl="/Account/AdminsList">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)

            </th>
            <th>
                Action
            </th>
        </tr>
    </thead>
    @if (SuperAdministrateurs.Count > 0)
    {
        <tbody>
            @foreach (var item in SuperAdministrateurs)
            {
                <tr>
                    <td>
                        @item.UserName
                    </td>
                    <td>
                        @item.Email
                    </td>

                    <td>
                        @*<a asp-action="Edit" asp-route-id=" @item.GetType().GetProperty("UserName").GetValue(item, null)">Edit</a> |
                        <a asp-action="Details" asp-route-id=" @item.GetType().GetProperty("UserName").GetValue(item, null)">Details</a> |*@
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    }
    else
    {
        <tbody>
            <tr>
                <td>None is here</td>
            </tr>
        </tbody>
    }
</table>

<h2>Liste des Administrateurs</h2>

<p>
    <a asp-action="Register" asp-route-returnUrl="/Account/AdminsList">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                UserName
            </th>
            <th>
                Email
            </th>
            <th></th>
        </tr>
    </thead>
    @if (Administrateurs.Count > 0)
    {
        <tbody>
            @foreach (var item in Administrateurs)
            {
                <tr>
                    <td>
                        @item.UserName
                    </td>
                    <td>
                        @item.Email
                    </td>

                    <td>
                        @*<a asp-action="Edit" asp-route-id=" @item.GetType().GetProperty("UserName").GetValue(item, null)">Edit</a> |
                            <a asp-action="Details" asp-route-id=" @item.GetType().GetProperty("UserName").GetValue(item, null)">Details</a> |*@
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    }
    else
    {
        <tbody>
            <tr>
                <td>None is here</td>
            </tr>
        </tbody>
    }
</table>
