@model AbsenderAPI.Models.UniversityModels.Users.Etudiant

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Etudiant</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ContactParent)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ContactParent)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Ref_Groupe)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Ref_Groupe.Id_groupe)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IdNational)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdNational)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IdUniversitaire)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdUniversitaire)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NomPrenom)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NomPrenom)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PhotoProfil)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PhotoProfil)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Fichier_Profil)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Fichier_Profil)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Standarized_Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Standarized_Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Hash_Password)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Hash_Password)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Email_Confirm)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email_Confirm)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Connect)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Connect)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id_Utilisateur">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
