@model AbsenderAPI.Models.UniversityModels.Groupe

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Groupe</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Designation_groupe)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Designation_groupe)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Ref_Filiere)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Ref_Filiere.Id_Filiere)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id_groupe">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
