@model AbsenderAPI.Models.UniversityModels.Matiere

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Matiere</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Designation_Matiere)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Designation_Matiere)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Coefficient)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Coefficient)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Limite_Absence)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Limite_Absence)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Ref_Module)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Ref_Module.Id_Module)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id_Matiere">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
